<h1>Botón de radio</h1>
<h3>type = "radio"</h3>
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <H2>Descripción</H2>
            <p>
                Representa una opción en donde no existe más de una opción seleccionada al mismo tiempo. Estos grupos
                común mente están conformados por un numero de botones de opción, todos comparten el mismo valor en el
                atributo name.
            </p>
            <p>
                Dentro de las casillas de verificación, el valor del atributo value tiene un papel importante para los
                botones de opción.
            </p>
            <p tabindex="0">
                Etiqueta HTML :
            </p>
            <code>
                &lt;input type="radio"&gt;
            </code>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
            <H2>Codigo HTML</H2>
            <label for="">Ejemplo 1:</label>
            <br>
            <br>
            <code class="code-sub">
                &lt;label>Seleccione un numero par:&lt;/label&gt;
                <br>
                &lt;div&gt;
                <br>   
                &nbsp; &lt;input type="radio" id="one" name="number" value="one" checked&gt;
                <br>    
                &nbsp; &lt;label for="one"&gt;1&lt;/label&gt;
                <br>
                &lt;/div&gt;
                <br>
                &lt;div&gt;
                <br>
                &nbsp; &lt;input type="radio" id="two" name="number" value="two"&gt;
                <br>
                &nbsp; &lt;label for="two"&gt;2&lt;/label&gt;
                <br>
                &lt;/div&gt;
                <br>
                &lt;div&gt;
                <br>
                &nbsp; &lt;input type="radio" id="seven" name="number" value="seven"&gt;
                <br>
                &nbsp; &lt;label for="seven"&gt;7&lt;/label&gt;
                <br>
                &lt;/div&gt;
            </code>
            <br>
            <br>
            <label>Seleccione un numero par:</label>
            <div>
                <input type="radio" id="one" name="number" value="one" checked>
                <label for="one">1</label>
            </div>

            <div>
                <input type="radio" id="two" name="number" value="two">
                <label for="two">2</label>
            </div>

            <div>
                <input type="radio" id="seven" name="number" value="seven">
                <label for="seven">7</label>
            </div>
        </div>
    </div>
</div>