<h1>Ejemplo de Boton en ARIA (APG)</h1>
<div class="row">
  <div class="col-lg-6">
    <h2>Descripción</h2>
    <p>Un botón es un widget que permite a los usuarios activar una acción o un evento, como enviar un formulario, abrir
      un cuadro de diálogo, cancelar una acción o realizar una operación de eliminación.</p>

      <p tabindex="0">
        Etiqueta HTML :
    </p>
    <code>
       &lt;button&gt;&lt;/button&gt;
    </code>

  </div>

  <div class="col-lg-6">
    <h1>Codigo HTML</h1>
    
    <code>
      &lt;p-button label="Guardar"&gt;&lt;/p-button&gt;
      <br>
      &lt;p-button label="Guardar" icon="pi pi-check" iconPos="right"&gt;&lt;/p-button&gt;
    </code>
    <br>
    <h2>Ejemplos</h2>
    <p-button label="Guardar"></p-button>
    <br>
    <br>
    <p-button label="Guardar" icon="pi pi-check" iconPos="right"></p-button>
  </div>
</div>