<nav aria-label="Mythical University">
  <ul class="menubar-navigation" role="menubar" aria-label="Mythical University">
    <li role="none">
      <!-- href="#home"  -->
      <a role="menuitem" [routerLink]="[ '/' ]">
        Home
      </a>
    </li>
    <li role="none">
      <!-- href="#home"  -->
      <a role="menuitem" [routerLink]="[ '/html' ]">
        HTML
      </a>
    </li>
    <li role="none">
      <!-- href="#home"  -->
      <a role="menuitem" [routerLink]="[ '/aria' ]">
        ARIA
      </a>
    </li>
    <li role="none">
      <!-- href="#home"  -->
      <a role="menuitem" [routerLink]="[ '/primeng' ]">
        PRIMENG
      </a>
    </li>

  </ul>
</nav>


