<div>
  <ul class="tiles" style="width: 100%">

    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>
    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>
    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>
    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>
    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>
    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>
    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>
    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>
    <li class="tile tile-accordion">
      <a href="/WAI/ARIA/apg/patterns/accordion/">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion (Sections With Show/Hide Functionality)</span>
        </h2>
      </a>
      <div class="tile-introduction">
        An accordion is a vertically stacked set of interactive headings that each contain a title, content snippet, or
        thumbnail representing a section of content.</div>
    </li>



  </ul>
</div>
