<div>
  <ul class="tiles" style="width: 100%">

    <li class="tile tile-accordion">
      <a [routerLink]="[ 'button' ]">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Boton</span>
        </h2>
      </a>
      <div class="tile-introduction">
        Un botón es un widget que permite a los usuarios activar una acción o un evento, como enviar un formulario,
        abrir un cuadro de diálogo, cancelar una acción o realizar una operación de eliminación.
      </div>
    </li>
    <li class="tile tile-accordion">
      <a [routerLink]="[ 'combobox' ]">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Select-Only Combobox</span>
        </h2>
      </a>
      <div class="tile-introduction">
        Un cuadro combinado es un widget de entrada con una ventana emergente asociada que permite a los usuarios
        seleccionar un valor para el cuadro combinado de una colección de valores posibles.</div>
    </li>
    <li class="tile tile-accordion">
      <a [routerLink]="[ 'accordion' ]">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Accordion</span>
        </h2>
      </a>
      <div class="tile-introduction">
        Un acordeón es un conjunto de encabezados interactivos apilados verticalmente que contienen un título, fragmento
        de contenido o miniatura que representa una sección de contenido.</div>
    </li>
    <li class="tile tile-accordion">
      <a [routerLink]="[ 'calendar' ]">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Calendario</span>
        </h2>
      </a>
      <div class="tile-introduction">
        Una fecha de entrada de fecha editable Combobox que abre un diálogo que contiene una cuadrícula y botones de
        calendario para navegar por mes y año.</div>
    </li>


    <li class="tile tile-accordion">
      <a [routerLink]="[ 'checkbox' ]">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Checkbox</span>
        </h2>
      </a>
      <div class="tile-introduction">
        WAI-ARIA admite dos tipos de widgets de casilla de verificación: el estado dual permite al usuario alternar
        entre dos opciones (marcado y no marcado) y el estado triple admite un tercer estado adicional conocido como
        marcado parcialmente.</div>
    </li>
    <li class="tile tile-accordion">
      <a [routerLink]="[ 'radio' ]">
        <h2 class="tile-name">
          <!-- <img src="/WAI/content-images/wai-aria-practices/img/accordion.svg" alt=""> -->
          <span>Radio Button</span>
        </h2>
      </a>
      <div class="tile-introduction">
        Un grupo de opción es un conjunto de botones de casilla de verificación, conocidos como botones de opción, donde
        no se puede marcar más de uno de los botones a la vez.</div>
    </li>

  </ul>
</div>
