<h1>Ejemplo de Combobox en ARIA (APG)</h1>

<div class="row">
  <div class="col-lg-6">
    <h2>Descripción</h2>
    <p>Un cuadro combinado es un widget de entrada con una ventana emergente asociada que permite a los usuarios seleccionar un valor para el cuadro combinado de una colección de valores posibles.</p>
    <h2>Ejeplo</h2>

    <label id="combo1-label" class="combo-label">Favorite Fruit</label>
    <div class="combo js-select">
      <div aria-controls="listbox1" aria-expanded="false" aria-haspopup="listbox" aria-labelledby="combo1-label"
        id="combo1" class="combo-input" role="combobox" tabindex="0">
      </div>
      <div class="combo-menu" role="listbox" id="listbox1" aria-labelledby="combo1-label" tabindex="-1">
      </div>
    </div>

  </div>

  <div class="col-lg-6">
    <h1>Codigo HTML</h1>
    <pre>
      <code>
        {{html}}
      </code>
    </pre>
    <h2>Codigo Fuente</h2>
    <ul>
      <li>CSS:<a href="https://www.w3.org/WAI/ARIA/apg/example-index/combobox/css/select-only.css"> select-only.css</a></li>
      <li>Javascript:<a href="https://www.w3.org/WAI/ARIA/apg/example-index/combobox/js/select-only.js"> select-only.js</a></li>
      <li>Documentación W3C:<a href="https://www.w3.org/WAI/ARIA/apg/example-index/combobox/combobox-select-only.html"> Documentación
          ARIA</a></li>
    </ul>

  </div>
</div>

