<h1>Checkbox</h1>
<h3>type = "checkbox"</h3>
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <H2>Descripción</H2>
            <p>
                Es un control de dos estados que permiten al usuario marcarlo como seleccionado o deseleccionado. Puede
                ser usado para recolectar información, como por ejemplo responder preguntas de estado verdadero/falso
                como “¿correr/caminar/saltar?”
            </p>
            <p>
                El elemento <code>&lt;input&gt;</code>, tiene un valor <code>“checkbox”</code> en su atributo type.
            </p>
            <p tabindex="0">
                Etiqueta HTML :
            </p>
            <code>
                &lt;input type="checkbox"&gt;
            </code>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
            <H2>Codigo HTML</H2>
            <label for="">Ejemplo 1:</label>
            <br>
            <br>
           <code class="code-sub">
            &lt;label&gt;¿Cuales son tus colores favoritos?&lt;/label&gt;
            <br>
            &lt;label&gt;&lt;input type="checkbox" id="cbox1" value="checkbox1"&gt; Azul&lt;/label&gt;
            <br>
            &lt;label&gt;&lt;input type="checkbox" id="cbox2" value="checkbox2"&gt; Rojo&lt;/label&gt;
            <br>
            &lt;label&gt;&lt;input type="checkbox" id="cbox3" value="checkbox2"&gt; Amarillo&lt;/label&gt;
           </code>
            <br>
            <br>
            <label for="">¿Cuales son tus colores favoritos?</label>
            <br>
            <label><input type="checkbox" id="cbox1" value="checkbox1"> Azul</label>
            <br>
            <label><input type="checkbox" id="cbox2" value="checkbox2"> Rojo</label>
            <br>
            <label><input type="checkbox" id="cbox3" value="checkbox2"> Amarillo</label>
            <br>
        </div>
    </div>
</div>