<div class="hero">

    <div class="snow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1536" preserveAspectRatio="xMidYMax slice">
            <g fill="#FFF" fill-opacity=".15" transform="translate(55 42)">
                <g id="snow-bottom-layer">
                    <ellipse cx="6" cy="1009.5" rx="6" ry="5.5" />
                    <ellipse cx="138" cy="1110.5" rx="6" ry="5.5" />
                    <ellipse cx="398" cy="1055.5" rx="6" ry="5.5" />
                    <ellipse cx="719" cy="1284.5" rx="6" ry="5.5" />
                    <ellipse cx="760" cy="1155.5" rx="6" ry="5.5" />
                    <ellipse cx="635" cy="1459.5" rx="6" ry="5.5" />
                    <ellipse cx="478" cy="1335.5" rx="6" ry="5.5" />
                    <ellipse cx="322" cy="1414.5" rx="6" ry="5.5" />
                    <ellipse cx="247" cy="1234.5" rx="6" ry="5.5" />
                    <ellipse cx="154" cy="1425.5" rx="6" ry="5.5" />
                    <ellipse cx="731" cy="773.5" rx="6" ry="5.5" />
                    <ellipse cx="599" cy="874.5" rx="6" ry="5.5" />
                    <ellipse cx="339" cy="819.5" rx="6" ry="5.5" />
                    <ellipse cx="239" cy="1004.5" rx="6" ry="5.5" />
                    <ellipse cx="113" cy="863.5" rx="6" ry="5.5" />
                    <ellipse cx="102" cy="1223.5" rx="6" ry="5.5" />
                    <ellipse cx="395" cy="1155.5" rx="6" ry="5.5" />
                    <ellipse cx="826" cy="943.5" rx="6" ry="5.5" />
                    <ellipse cx="626" cy="1054.5" rx="6" ry="5.5" />
                    <ellipse cx="887" cy="1366.5" rx="6" ry="5.5" />
                    <ellipse cx="6" cy="241.5" rx="6" ry="5.5" />
                    <ellipse cx="138" cy="342.5" rx="6" ry="5.5" />
                    <ellipse cx="398" cy="287.5" rx="6" ry="5.5" />
                    <ellipse cx="719" cy="516.5" rx="6" ry="5.5" />
                    <ellipse cx="760" cy="387.5" rx="6" ry="5.5" />
                    <ellipse cx="635" cy="691.5" rx="6" ry="5.5" />
                    <ellipse cx="478" cy="567.5" rx="6" ry="5.5" />
                    <ellipse cx="322" cy="646.5" rx="6" ry="5.5" />
                    <ellipse cx="247" cy="466.5" rx="6" ry="5.5" />
                    <ellipse cx="154" cy="657.5" rx="6" ry="5.5" />
                    <ellipse cx="731" cy="5.5" rx="6" ry="5.5" />
                    <ellipse cx="599" cy="106.5" rx="6" ry="5.5" />
                    <ellipse cx="339" cy="51.5" rx="6" ry="5.5" />
                    <ellipse cx="239" cy="236.5" rx="6" ry="5.5" />
                    <ellipse cx="113" cy="95.5" rx="6" ry="5.5" />
                    <ellipse cx="102" cy="455.5" rx="6" ry="5.5" />
                    <ellipse cx="395" cy="387.5" rx="6" ry="5.5" />
                    <ellipse cx="826" cy="175.5" rx="6" ry="5.5" />
                    <ellipse cx="626" cy="286.5" rx="6" ry="5.5" />
                    <ellipse cx="887" cy="598.5" rx="6" ry="5.5" />
                </g>
            </g>
            <g fill="#FFF" fill-opacity=".3" transform="translate(65 63)">
                <g id="snow-top-layer">
                    <circle cx="8" cy="776" r="8" />
                    <circle cx="189" cy="925" r="8" />
                    <circle cx="548" cy="844" r="8" />
                    <circle cx="685" cy="1115" r="8" />
                    <circle cx="858" cy="909" r="8" />
                    <circle cx="874" cy="1438" r="8" transform="rotate(180 874 1438)" />
                    <circle cx="657" cy="1256" r="8" transform="rotate(180 657 1256)" />
                    <circle cx="443" cy="1372" r="8" transform="rotate(180 443 1372)" />
                    <circle cx="339" cy="1107" r="8" transform="rotate(180 339 1107)" />
                    <circle cx="24" cy="1305" r="8" transform="rotate(180 24 1305)" />
                    <circle cx="8" cy="8" r="8" />
                    <circle cx="189" cy="157" r="8" />
                    <circle cx="548" cy="76" r="8" />
                    <circle cx="685" cy="347" r="8" />
                    <circle cx="858" cy="141" r="8" />
                    <circle cx="874" cy="670" r="8" transform="rotate(180 874 670)" />
                    <circle cx="657" cy="488" r="8" transform="rotate(180 657 488)" />
                    <circle cx="443" cy="604" r="8" transform="rotate(180 443 604)" />
                    <circle cx="339" cy="339" r="8" transform="rotate(180 339 339)" />
                    <circle cx="24" cy="537" r="8" transform="rotate(180 24 537)" />
                </g>
            </g>
        </svg>
    </div>
    <!------------------------------------Contenido de la pagina home------------------------------------------------------>
    <div class="hero__content">

        <div class="container-home">
            <div class="row" style="background-color: #fff;">
                <div class="col-lg-6" style="align-self: center;">
                    <div class="box">
                        <div class="container-col" tabindex="0">
                            <h1>Componentes Accesibles</h1>
                            <h4>Rumbo a una Web accesible</h4>
                            <p>
                                La visión de este proyecto es lograr una integracion de diferentes componentes con la
                                finalidad
                                de
                                tener una Web accesible, para aumentar la usabilidad de la Web, eliminando barreras que
                                dificulten
                                el
                                acceso a la Web para todo tipo de usuarios mejoran el contenido dentro de las
                                plataformas web.
                            </p>
                            <br>
                            <button name='componentes' type='button' (click)="_route.navigate(['html'])">Clic ver
                                componentes</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box">
                        <img src="https://quodem.com/wp-content/uploads/2022/04/Accesibilidad-web.jpg"
                            alt="Imagen referente a la accesibilidad web" style="width:100%">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6" style="margin-top:60px;margin-bottom: 60px;">
                    <div class="box box-none">
                        <div class="container-col" tabindex="0">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/2048px-HTML5_logo_and_wordmark.svg.png"
                                alt="Logo de HTML" style="width:50%;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="align-self: center;">
                    <div class="box box-none">
                        <div class="container-col text-white" tabindex="0">
                            <h2>Componentes HTML</h2>
                            <p>
                                Lo componentes con su especificación realizados con los
                                estándares de HMTL. Se trata de mostrar cada componente con su
                                estructura adecuada para luego mostrar los cambios necesarios para llegar a obtener los
                                componentes accesibles.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="background-color: #fff;">
                <div class="col-lg-6" style="align-self: center;">
                    <div class="box">
                        <div class="container-col" tabindex="0">
                            <h2>Componentes con ARIA</h2>
                            <h3>Accessible Rich Internet Application</h3>
                            <p>
                                Los componentes de ARIA, tiene una semántica accesible para crear experiencias en el web
                                de
                                manera accesible. Tiene una guía que describe como aplicar esta semántica de
                                accesibilidad a
                                widgets y patrones de diseño comunes.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="box">
                        <div class="container-col" tabindex="0">
                            <img src="https://www.w3.org/WAI/content-images/wai-aria-practices/generated/index-1.svg"
                                alt="Imagen referente a ARIA" style="width:85%;">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6" style="margin-top:60px;margin-bottom: 60px;">
                    <div class="box box-none">
                        <div class="container-col" tabindex="0">
                            <img src="https://www.primefaces.org/presskit/primeng-logo.png" alt="Logo PrimeNg"
                                style="width:40%;">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" style="align-self: center;">
                    <div class="box box-none">
                        <div class="container-col text-white" tabindex="0">
                            <h2>Componentes HTML</h2>
                            <p>
                                Lo componentes con su especificación realizados con los
                                estándares de HMTL. Se trata de mostrar cada componente con su
                                estructura adecuada para luego mostrar los cambios necesarios para llegar a obtener los
                                componentes accesibles.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #fff;">
                <div class="col-lg-12" style="margin-top:20px;margin-bottom: 20px;">
                    <div class="box" style="text-align:center">
                        <h1>Grupo de trabajo</h1>
                    </div>
                </div>
            </div>
            <div class="row" style="background-color: #fff;">
                <div class="col-lg-6" style="">
                    <div class="box" style="text-align:center">
                      
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box">
                                    <img src="https://repositorio.edutech-project.org/assets/img/develop.png"
                                        style="width:60%" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="box">
                                    <h3>Claudio Maldonado</h3>
                                    <label for="">Desarrollador Web</label>
                                    <br>
                                    <br>
                                    <div class="email ng-star-inserted">
                                        <i class="pi pi-envelope"></i><span><a
                                                href="mailto:cmaldonadom3@est.ups.edu.ec">
                                                cmaldonadom3@est.ups.edu.ec</a></span>
                                        <br>
                                        <i class="pi pi-envelope"></i><span><a
                                                href="mailto:cmaldonadom3@est.ups.edu.ec">
                                                cmaldonadom3@est.ups.edu.ec</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6" >
                    <div class="box" style="text-align:center">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="box">
                                    <img src="https://repositorio.edutech-project.org/assets/img/develop3.png"
                                        style="width:60%" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="box">
                                    <h3>Edwin Marquez</h3>
                                    <label for="">Desarrollador Web</label>
                                    <br>
                                    <br>
                                    <div class="email ng-star-inserted">
                                        <i class="pi pi-envelope"></i><span><a
                                                href="mailto:emarquezl@est.ups.edu.ec">
                                                emarquezl@est.ups.edu.ec</a></span>
                                        <br>
                                        <i class="pi pi-envelope"></i><span><a
                                                href="mailto:edwi1999@hotmail.com">
                                                edwi1999@hotmail.com</a></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>