.container-col{
    text-align-last: center;
    p{
        margin: 1em 6em;
        text-align: justify; 
    }
    h2{
        border-bottom:none;
    }
}

:host ::ng-deep .box{
    border:none;
}


.text-white{
	h2{
		color:lightcyan;
	}
	p{
		color:white;
	}
}

.box-none{
    background-color: transparent !important;
}

.box-card{
	align-content: center;
	h1{
		color:white;
		
	}
	label{
		color:white;
	}
	a{
		color:white;
		text-decoration:none;
		font-style: italic;
		font-family: 'Times New Roman', Times, serif;
	}
	i{
		color:white;
	}
}
/**************CSS PARA NEVAR*******************/
@import url('https://fonts.googleapis.com/css?family=Corben:700');

/*h1 {
	font-family: 'Corben', cursive;
	font-size: 6rem;
	color: white;
	letter-spacing: 0.1rem;
	text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.66);
}*/

.hero {
	background-image: radial-gradient(50% 176%, #005a9c 80%, #005a9cc7 100%);
	// min-height: 100vh;
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;
	
	&__content {
		position: relative;
		align-self: center;
		//padding: 3rem 0;
	}
}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}

/************************CARDS***************************/
.box-e{
	border: solid 1px var(--line-grey);
}