<h1>Ejemplo de Calendario en ARIA (APG)</h1>

<div class="row">
  <div class="col-lg-6">
    <h2>Descripción</h2>
    <p>
      Una fecha de entrada de fecha editable Combobox que abre un diálogo que
      contiene una cuadrícula y botones de calendario para navegar por mes y
      año.
    </p>
    <h2>Ejemplo</h2>
    <code>
      &lt;p-calendar&gt;&lt;/p-calendar&gt;
    </code>

  </div>

  <div class="col-lg-6">
    <h1>Codigo HTML</h1>
    <code>
      &lt;p-calendar [(ngModel)]="value"&gt;&lt;/p-calendar&gt;
    </code>
    <br>
    <br>
    <p-calendar [(ngModel)]="value"></p-calendar>
  </div>
</div>
