<h1>Calendario</h1>
<h3>calendar</h3>
<div class="row">
    <div class="col-lg-6">
        <div class="box">
            <H2>Descripción</H2>
            <p>
                El calendario en HTML se describe con los elementos de la siguiente
                manera <code>&lt;input&gt;</code> de <code>type="date"</code> presenta
                una interfaz especial que le permite escoger una fecha o un campo de texto que le permite ingresar la
                fecha de manera textual.
            </p>
            <p>
                Su valor resultante incluye el año, el mes, el día.
            </p>
            <p tabindex="0">
                Etiqueta HTML :
            </p>
            <code>
                &lt;input type="date"&gt;
            </code>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box">
            <H2>Codigo HTML</H2>
            <label for="">Ejemplo 1:</label>
            <br>
            <code class="code-sub">
                &lt;label for="start">Ingresar la fecha:&lt;/label&gt;
              <br>
                &lt;input type="date" id="start" name="trip-start"
                value="2018-07-22"
                min="2018-01-01" max="2018-12-31"&gt;
            </code>
            <br>
            <br>
            <label for="start">Ingresar la fecha:</label>
            <br>
            <input type="date" id="start" name="trip-start" value="2022-09-28" min="2018-01-01" max="2023-12-31">
        </div>
    </div>
</div>