<div class="container-card">
    <div class="p-card-e" tabindex="0" (click)="_route.navigate(['/html/button'])" (keydown.Space)="_route.navigate(['/html/button'])">
        <p-card header="Botón" [style]="{'width': '25rem', 'margin-bottom': '2em', 'height': '100%'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/boton.png" alt="Imagen referente al componente botón">
            </ng-template>
            <p>Instruye un elemento cliqueable de tipo botón.</p>
            <button (click)="_route.navigate(['/html/button'])"> Clic ver botón</button>
        </p-card>
    </div>
    <div class="p-card-e" tabindex="0" (click)="_route.navigate(['/html/combobox'])" (keydown.Space)="_route.navigate(['/html/combobox'])">
        <p-card header="Lista desplegable" [style]="{'width': '25rem', 'margin-bottom': '2em','height': '100%'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/combobox.png" alt="Imagen referente al componente lista desplegable" >
            </ng-template>
            <p>Representa un menú con una lista de opiciones.</p>
            <button icon="pi pi-check" label="" (click)="_route.navigate(['/html/combobox'])">Clic ver lista desplegable</button>
        </p-card>
    </div>
    <div class="p-card-e" tabindex="0" (click)="_route.navigate(['/html/acordion'])" (keydown.Space)="_route.navigate(['/html/acordion'])">
        <p-card header="Acordeón" [style]="{'width': '25rem', 'margin-bottom': '2em','height': '100%'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/Acordion.png" alt="Imagen referente al componente acordeón" >
            </ng-template>
            <p>Bloques de contenido que pueden desplegarse o replegarse.</p>
            <button icon="pi pi-check" label="" (click)="_route.navigate(['/html/acordion'])">Clic ver acordeón</button>
        </p-card>
    </div>
    <div class="p-card-e" tabindex="0" (click)="_route.navigate(['/html/calendar'])" (keydown.Space)="_route.navigate(['/html/calendar'])">
        <p-card header="Calendario" [style]="{'width': '25rem', 'margin-bottom': '2em','height': '100%'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/calendario.png" alt="Imagen referente al componente calendario" >
            </ng-template>
            <p>Bloques de contenido que pueden desplegarse o replegarse.</p>
            <button icon="pi pi-check" label="" (click)="_route.navigate(['/html/calendar'])">Clic ver calendario</button>
        </p-card>
    </div>

    <div class="p-card-e" tabindex="0" (click)="_route.navigate(['/html/checkbox'])" (keydown.Space)="_route.navigate(['/html/checkbox'])">
        <p-card header="Casillas de verificación" [style]="{'width': '25rem', 'margin-bottom': '2em','height': '100%'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/checkbox.png" alt="Imagen referente al componente checkbox" >
            </ng-template>
            <p>Cajas que se pueden marcar o no para verificar algo en un formulario.</p>
            <button icon="pi pi-check" label="" (click)="_route.navigate(['/html/checkbox'])">Clic ver checkbox</button>
        </p-card>
    </div>

    <div class="p-card-e" tabindex="0" (click)="_route.navigate(['/html/radiobutton'])" (keydown.Space)="_route.navigate(['/html/radiobutton'])">
        <p-card header="Botón de radio" [style]="{'width': '25rem', 'margin-bottom': '2em','height': '100%'}">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/img/radiobutton.png" alt="Imagen referente al componente radiobutton" >
            </ng-template>
            <p>Solo puede ser seleccionado un botón de radio en un grupo al mismo tiempo.</p>
            <button icon="pi pi-check" label="" (click)="_route.navigate(['/html/radiobutton'])">Clic ver botón de radio</button>
        </p-card>
    </div>

</div>