.box-p {

    p {
        text-align: justify;

        a {
            text-decoration: none;
        }

        a:hover {
            color: #034575
        }
    }

    ul li {
        text-align: justify;
    }
}

.marco {
    margin-left: 50px;
}


h1 {
    font-size: 25px;
}
h2{
    font-size: 18px;
}

.border-sep{
    margin-top: 50px;
}

.border-sep12{
    margin-top: 50px;
}

.boton-copiar{
    text-align: end !important;
    margin-top: 5px;
}