<h1>Ejemplo de Accordion en ARIA (APG)</h1>

<div class="row">
  <div class="col-lg-6">
    <h2>Descripción</h2>
    <p>Un acordeón es un conjunto de encabezados interactivos apilados verticalmente que contienen un título, fragmento
      de contenido o miniatura que representa una sección de contenido.</p>
    <h2>Ejeplo</h2>


    <div #accordion id="accordionGroup" class="accordion">
      <h3>
        <button type="button" aria-expanded="true" class="accordion-trigger" aria-controls="sect1" id="accordion1id">
          <span class="accordion-title">
            Personal Information
            <span class="accordion-icon"></span>
          </span>
        </button>
      </h3>
      <div id="sect1" role="region" aria-labelledby="accordion1id" class="accordion-panel">
        <div>

          <fieldset>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, animi vel. Pariatur iusto quia quidem
              quae
              omnis nam? Aliquid eum ex sunt perspiciatis eius fugiat temporibus ab similique porro fuga.
              Temporibus incidunt obcaecati iste, ipsum eveniet doloribus, optio est a atque consequuntur laudantium
              debitis
              porro corporis quasi laborum fuga facilis quis corrupti praesentium reprehenderit veritatis voluptatem.
              Asperiores pariatur sapiente corporis.</p>
          </fieldset>
        </div>
      </div>
      <h3>
        <button type="button" aria-expanded="false" class="accordion-trigger" aria-controls="sect2" id="accordion2id">
          <span class="accordion-title">
            Billing Address
            <span class="accordion-icon"></span>
          </span>
        </button>
      </h3>
      <div id="sect2" role="region" aria-labelledby="accordion2id" class="accordion-panel" hidden="">
        <div>
          <fieldset>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium facere, quos qui accusamus ipsum
              quo
              quas fugiat molestiae ad culpa explicabo sint, harum animi quam vel, numquam officiis iusto totam!
              Repudiandae ipsa fugiat iste eius animi veritatis quae deserunt, voluptate assumenda esse est, eum fugit
              non
              at laudantium sapiente ratione deleniti libero consectetur provident quidem enim veniam. Modi, dolor
              dignissimos!
              Sit dolorem incidunt harum quia ducimus ipsam at commodi fugit hic ipsum dicta itaque quaerat soluta
              sapiente
              cumque inventore amet laudantium, iusto cum officia quod eaque? Veniam nisi consectetur sequi!</p>
          </fieldset>
        </div>
      </div>
      <h3>
        <button type="button" aria-expanded="false" class="accordion-trigger" aria-controls="sect3" id="accordion3id">
          <span class="accordion-title">
            Shipping Address
            <span class="accordion-icon"></span>
          </span>
        </button>
      </h3>
      <div id="sect3" role="region" aria-labelledby="accordion3id" class="accordion-panel" hidden="">
        <div>
          <fieldset>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint id aperiam perspiciatis magnam, ab est
              iusto
              pariatur optio quae, deleniti numquam consectetur aspernatur dolor? Nemo consequatur doloremque doloribus
              asperiores totam.
              Ipsam maiores sit corporis voluptatem nostrum labore qui, nam, assumenda ut tempore necessitatibus nihil
              eum
              aliquid amet recusandae et eaque. Ducimus doloremque fugit eius dolor inventore, possimus cupiditate unde
              velit.</p>
          </fieldset>
        </div>
      </div>
    </div>


  </div>

  <div class="col-lg-6">
    <h1>Codigo HTML</h1>
    <pre>
      <code>
        {{html}}
      </code>
    </pre>
    <h2>Codigo Fuente</h2>
    <ul>
      <li>CSS:<a href="https://www.w3.org/WAI/ARIA/apg/example-index/accordion/css/accordion.css"> accordion.css</a>
      </li>
      <li>Javascript:<a href="https://www.w3.org/WAI/ARIA/apg/example-index/accordion/js/accordion.js">
          accordion.js</a></li>
      <li>Documentación W3C:<a href="https://www.w3.org/WAI/ARIA/apg/example-index/accordion/accordion.html">
          Documentación
          ARIA</a></li>
    </ul>

  </div>
</div>
