<h1>BOTON HTML </h1>

<div class="card-container">
    <div class="grid-col">
        <div class="col flex align-items-center justify-content-center">
            <H2>Descripción</H2>
            <p>
                El botón representa un elemento cliqueable, que se usa en formularios o paginas que sea necesario el uso
                de este.
                Para los botones no es necesario información de accesibilidad extra. Los botones pueden ser accedidos
                siempre y cuando tengan un valor descriptivo. El valor atributo será leído por los lectores de pantalla
                cuando el botón sea accedido.
               
            </p>
            <p>
                Etiqueta HTML :
            </p>
            <code>
                {{etiqueta}}
            </code>
        </div>
    </div>
    <div class="grid-col">
        <div class="col flex align-items-center justify-content-center">
            <H2>Codigo HTML</H2>
            <label for="">Ejemplos:</label>
            <br>
            <br>
            <code>
                {{textHtmlbutton}}
            </code>
            <br>
            <br>
            <button name='favorito' type='button'>Agregar a favoritos</button>
           <br>
           <br>
            <code>
                {{textHtmlbuttonAc}}
            </code>
            <br>
            <br>
            <input type='submit' name='favorito' value='Agregar a favoritos'/>
        </div>
    </div>
</div>